<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>17/07/09 23:45:35</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SampleTest.setup()[pri:0, instance:sleniumDemo.SampleTest@3abbfa04]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/07/09 23:45:36</td>   <td>1019</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleTest.openSite()[pri:0, instance:sleniumDemo.SampleTest@3abbfa04]">&gt;&gt;openSite</td> 
<td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/07/09 23:45:42</td>   <td>7160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.signIn(tableData.TestCasesData)[pri:0, instance:sleniumDemo.SampleTest@3abbfa04]">signIn</td> 
  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/07/09 23:46:13</td>   <td>37646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleTest.getResult(org.testng.ITestResult)[pri:0, instance:sleniumDemo.SampleTest@3abbfa04]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/07/09 23:46:14</td>   <td>38524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleTest.openSite()[pri:0, instance:sleniumDemo.SampleTest@3abbfa04]">&gt;&gt;openSite</td> 
<td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/07/09 23:46:20</td>   <td>44469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.signIn(tableData.TestCasesData)[pri:0, instance:sleniumDemo.SampleTest@3abbfa04]">signIn</td> 
  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/07/09 23:46:51</td>   <td>76003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleTest.getResult(org.testng.ITestResult)[pri:0, instance:sleniumDemo.SampleTest@3abbfa04]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/07/09 23:46:52</td>   <td>76633</td> <td>&nbsp;</td><td title="&lt;&lt;SampleTest.endTest()[pri:0, instance:sleniumDemo.SampleTest@3abbfa04]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
</table>
